[submodule "submodule/matplotlib-cpp"]
	path = submodule/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "submodule/eigen"]
	path = submodule/eigen
	url = https://gitlab.com/libeigen/eigen.git
